@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');

@font-face {
    font-family: 'Georgia';
    src: url('//cache.umusic.com/_sites/_halo/gogos/fonts/Georgia/Georgia.eot?#iefix') format('embedded-opentype'), 
        url('//cache.umusic.com/_sites/_halo/gogos/fonts/Georgia/Georgia.woff') format('woff'), 
        url('//cache.umusic.com/_sites/_halo/gogos/fonts/Georgia/Georgia.ttf') format('truetype'), 
        url('//cache.umusic.com/_sites/_halo/gogos/fonts/Georgia/Georgia.svg#Georgia') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gobold";
    src: url("//cache.umusic.com/_sites/_halo/gogos/fonts/Gobold/GoboldBold.eot"); /* IE9 Compat Modes */
    src: url("//cache.umusic.com/_sites/_halo/gogos/fonts/Gobold/GoboldBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("//cache.umusic.com/_sites/_halo/gogos/fonts/Gobold/GoboldBold.otf") format("opentype"), /* Open Type Font */
      url("//cache.umusic.com/_sites/_halo/gogos/fonts/Gobold/GoboldBold.svg") format("svg"), /* Legacy iOS */
      url("//cache.umusic.com/_sites/_halo/gogos/fonts/Gobold/GoboldBold.ttf") format("truetype"), /* Safari, Android, iOS */
      url("//cache.umusic.com/_sites/_halo/gogos/fonts/Gobold/GoboldBold.woff") format("woff"), /* Modern Browsers */
      url("//cache.umusic.com/_sites/_halo/gogos/fonts/Gobold/GoboldBold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

$font-base  : 'Georgia';
$font-header: 'Gobold';