.main-footer {
    position: relative;
    z-index: 9;
    display: block;
    background: $black;
    display: flex;
    padding-bottom: 1px;
    .l-region--footer {
        justify-content: center;
        align-items: flex-start;
        margin:0 auto;
        flex-flow: row wrap;
    }
    > nav {
        float:left;
        width: 100%;
        padding: 0 15px;
        ul {
            display: flex;
            padding: 0;
            margin: 0;
            li {
                padding: 0 5px;
                a {
                    color: $white !important;
                    &:hover {
                        color: $color__accent !important;
                    }
                }
            }
        }
    }
    .l-region--footer-nav {
        height: auto;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        flex-flow:column wrap;
        display: flex;
        padding: 1.125rem 0;
        @include breakpoint (md) {
            line-height: 50px;
            height: 50px;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            padding: 0;
        }
        @include breakpoint (md_down) {
            flex-direction: column-reverse;
        }

    }
    .block-footer-legal-nav {
        width: auto;
        flex: 0 0 auto;
        display: block;
        ul {
            @include breakpoint (md_down) {
                flex-wrap: wrap;
                justify-content: center;
                li {
                    
                    width: 100%;
                    text-align: center;
                }
            }
        }
        a {
            @include fp(font-size,10,12);
            text-transform: uppercase;
            font-family: $font-header;
        }
    }
    .block-footer-socials {
        width: auto;
        flex: 0 0 auto;
        display: block;
        @include breakpoint (md_down) {
            padding-bottom: 10px;
        }
    }

}
.footer-nav-widgets-wrapper {
    display: none !important;
}