$fab: "Font Awesome 5 Brands";
$fas: "Font Awesome 5 Free";

html, body {
  height: 100%;
  * {
    box-sizing: border-box;
  }
}
body {
  font-family: $font-base;
  line-height: 1;
  text-rendering: optimizeLegibility !important; 
  -webkit-font-smoothing: antialiased !important;
  background: $color__secondary;
  &.logged-in {
    .main-header {

    }
  }
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  @include trans3;

  &:hover {

  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: $font-header;
  line-height: 1.2;
}

p {
  line-height: 1.2;
}
.entry-content {
  p {
    color: $white;
    font-size: 18px;
    
  }
  span.contact-name {
      font-size: 24px;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  outline: none;
}
.screen-reader-text {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	/* many screen reader and browser combinations announce broken words as they would appear visually */
	word-wrap: normal !important;
	clip: rect(1px, 1px, 1px, 1px);
}

.btn {
  @include btn;
}
button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.slick-slider {
  >button {
    z-index: 99;
    text-align: center;
    border: none;
    border-radius: 0;
    color: $white;
    // height: 30px;
    line-height: 30px;
    transition: .2s all ease-in-out;
    outline: none;
    position: absolute;
    // top: 50%;
    width: 111px;
    text-transform: uppercase;
    font-family: $font-header;
    font-size: 24px;
    transform: rotate(90deg);
    right: 0;
    background: transparent;
    padding: 5px;
    transition: all .3s ease-in-out;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: url($navbg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      z-index: -1;
      opacity: 0;
      transition: all .3s ease-in-out;
    }
    &.slick-prev {
      top: 40%;
    }
    &.slick-next {
      top: 60%;
    }
    &:hover {
      color: $black;
      &:before {
        opacity: 1;
      }
    }
    @include breakpoint (sm_down) {
      bottom: -45px;
      transform: initial;
      &.slick-prev {
        top: auto;
        left: 20px;
      }
      &.slick-next {
        top: auto;
        right: 20px;
      }
    }
  }
}

.block__title, .entry-title {
  color: $white;
  text-align: center;
  @include fp(font-size, 36,72);
  margin-bottom: 30px;
}

.more-link {
  display: flex;
  justify-content: center;
  margin: 50px 0 0;
  a {
    @include custom-btn('black');
  }
}
.l-main {
  height: auto;
  min-height: calc(100% - 50px);
  padding-top: 200px;
  transform: transformX(0);
  transition: transform .3s ease;
  @include breakpoint (md_down) {
    padding-top: 100px;
  }
  &.open {
    transform: translateX(250px);
    overflow: hidden;
  }
}

.more-nodes-container {
  background: $bg-color;
  position: relative;
  // padding-bottom: 100px;
  &:before {
      content: '';
      background: url($bg-3);
      background-repeat: repeat-x;
      background-position: top center;
      position: absolute;
      left: 0;
      top: -165px;
      width: 100%;
      height: 100%;
      z-index: -1;
  }
  .view-content {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      top: -150px;
  }
}

.pagination {
  text-align: center;
  font-family: $font-header;
  color: $color__accent;
  padding-top: 75px;
  padding-bottom: 50px;
  .page {
    padding-right: 12px;
    display: inline-block;
    vertical-align: middle;
  }
  .current {
    text-align: center;
    display: inline-block;
    color: $black;
    vertical-align: middle;
    background: $color__accent;
  }
  .btn {
    padding: 7px 20px 8px;
    color: $color__accent;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    transition: all 300ms ease;
    position: relative;
    &.first {
      margin-right: 2px;
      background: url($double-arrow);
      background-repeat: no-repeat;
      background-position: center;
      transform: rotate(180deg);
      &:hover {
        background: url($double-arrow);
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(180deg);
      }
    }
    &.last {
      margin-left: 2px;
      background: url($double-arrow);
      background-repeat: no-repeat;
      background-position: center;
      &:hover {
        background: url($double-arrow);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    &:hover {
      background: $color__accent;
      color: $black;
    }
  }
  .mini {
    width: 28px;
    height: 28px;
    margin: 0 2px;
    padding: 0;
    line-height: 27px;
    &.page-prev {
      background: url($arrow-single-page);
      background-repeat: no-repeat;
      background-position: center;
      transform: rotate(180deg);
      background-size: 75%;
    }
    &.page-next {
      background: url($arrow-single-page);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 75%;
    }
  }
}

.tubepress-pagination {
  text-align: center;
  font-family: $font-header;
  color: $color__accent;
  margin-top: 75px;
  margin-bottom: 50px;
  ul {
    li {
      &.disabled {
        &:nth-child(1) {
          display: none;
        }
        span {
          color: $color__accent;
          pointer-events: none;
        }
      }
      &:first-child {
        a {
          width: 28px;
          height: 28px;
          margin: 0 2px;
          padding: 0;
          text-indent: -9999em;
          white-space: nowrap;
          overflow: hidden;
          background: url($arrow-single-page);
          background-repeat: no-repeat;
          background-position: center;
          transform: rotate(180deg);
          background-size: 75%;
          transition: none;
          &:hover {
            background: url($arrow-single-page);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 75%;
          }
        }
      }
      &:last-child {
        a {
          width: 28px;
          height: 28px;
          margin: 0 2px;
          padding: 0;
          text-indent: -9999em;
          white-space: nowrap;
          overflow: hidden;
          background: url($arrow-single-page);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 75%;
          transition: none;
          &:hover {
            background: url($arrow-single-page);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 75%;
          }
        }
      }
      a, span {
        padding: 7px 12px 8px;
        color: $color__accent;
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        transition: all 300ms ease;
        position: relative;
        border: none;
        &:hover {
          color: $black;
          background: $color__accent;
        }
      }
      &.active {
        span {
          text-align: center;
          display: inline-block;
          color: $black;
          vertical-align: middle;
          background: $color__accent;
        }
      }
    }
  }
}

.cool-timeline .custom-pagination {
  text-align: center;
  top: 70px;
  position: relative;
  color: $color__accent;
  font-size: 14px;
  font-family: $font-header;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  span.dots {
    color: $color__accent;
  }
  .page-numbers.current {
    background: $color__accent;
    color: $black;
    padding: 7px 12px 8px;
    font-size: 14px;
  }
  a.page-numbers {
    background: transparent;
    padding: 7px 12px 8px;
    color: $color__accent;
    font-size: 14px;
    &:hover {
      color: $black;
      background: $color__accent;
    }
  }
  .page-numbers.prev {
    width: 28px;
    height: 28px;
    margin: 0 2px;
    padding: 0;
    text-indent: -9999em;
    white-space: nowrap;
    overflow: hidden;
    background: url($arrow-single-page);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    background-size: 75%;
    transition: none;
    &:hover {
      background: url($arrow-single-page);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 75%;
    }
  }
  .page-numbers.next {
    width: 28px;
    height: 28px;
    margin: 0 2px;
    padding: 0;
    text-indent: -9999em;
    white-space: nowrap;
    overflow: hidden;
    background: url($arrow-single-page);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    transition: none;
    &:hover {
      background: url($arrow-single-page);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 75%;
    }
  }
}