.main-header {
    position: absolute;
    width: 100%;
    color: $white;
    top: 0;
    left: 0;
    z-index: 100;
    background: url($header-bg);
    height: 200px;
    background-position: top center;
    background-repeat: repeat-x;
    background-size: contain;
    @include breakpoint (md_down) {
        height: 100px;
        background-size: cover;
        background-position: bottom center;
    }
    .header-container {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        @include breakpoint (md_down) {
            justify-content: center;
            padding-top: 10px;
        }
        .l-branding {
            text-align: center;
            width: auto;
            height: 80px;
            .site-name {
                display: inline-block;
                margin: 0 auto;
                padding: 0 1.125rem;
                a {

                }
            }
        }
        .l-navigation {
            width: 100%;
            display: flex;
            @include breakpoint (md_down) {
                display: none;
            }
            .header-main-nav {
                width: 100%;
                display: flex;
                align-items: center;
                a {
                    text-transform: uppercase;
                    font-family: $font-header;
                    font-size: 16px;
                    color: $white;
                    padding: 5px 15px;
                    position: relative;
                    z-index: 1;
                    transition: all .3s ease-in-out;
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background: url($navbg);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        opacity: 0;
                        z-index: -1;
                        transition: all .3s ease-in-out;
                    }
                    &:hover {
                        color: $black;
                        &:before {
                            opacity: 1;
                        }
                    }
                }
                ul {
                    li {
                        &.current-menu-item {
                            a {
                                color: $black;
                                &:before {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            .header-main-social {
                a {
                    color: $white;
                    &:hover {
                        color: $color__accent;
                    }
                }
            }
            ul {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                margin: 0;
                height: 100%;
                li {
                    padding: 0 5px;
                }
            }
        }
    }
}

.menu-icon {
    display: none;
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    @include breakpoint (md_down) {
        display: block;
    }
    a {
        display:inline-block;
        width:32px;
        height:25px;
        cursor: pointer;
        width: auto;
        margin: 0;
        outline: 0;
        position: relative;
        & > span {
            background: $color__accent;
            cursor: pointer;
            border-radius: 2px;
            height: 2px;
            width: 20px;
            position: relative;
            display: block;
            margin: 0;
            &:nth-child(1) {
              top: 0;
            }
            &:nth-child(2) {
              top: 4px;
            }
            &:nth-child(3) {
              top: 8px;
            }
        }
        &.open {
            & > span {
                &:nth-child(2) {
                    background-color: transparent;
                }
                &:nth-child(1) {
                    top: 6px;
                    transform: rotate(45deg);
                }
                &:nth-child(3) {
                    top: 2px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.mobile-menu {
    position: fixed;
    transform: translateX(-250px);
    right: auto;
    transition: transform .3s ease;
    z-index: 10;
    min-height: 100%;
    left: 0;
    top: 0;
    width: 250px;
    background: #0f0f11;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    &.open {
        transform: translateX(0);
        left: 0;
    }
    .mobile-main-nav {
        width: 100%;
        text-align: center;
        ul {
            padding: 0;
            li {
                margin: 10px 0;
                a {
                    color: $white;
                    font-family: $font-header;
                    text-transform: uppercase;
                    &:hover, &.active {
                        color: $color__accent;
                    }
                }
                &.current-menu-item {
                    a {
                        color: $color__accent;
                    }
                }
            }
        }
    }
    .mobile-main-social {
        width: 100%;
        text-align: center;
        ul {
            display: block;
            padding: 0;
            li {
                display: inline-block;
                a {
                    width: 25px;
                    height: 25px;
                    margin: 0;
                    line-height: 24px;
                    font-size: .75rem;
                    color: $white;
                    display: inline-block;
                    &:hover {
                        color: $color__accent;
                    }
                }

            }
        }
    }
}
.exit-off-canvas {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
    margin-left: -10%;
    background: rgba(34,34,34,.5);
    cursor: pointer;
    transition: background .3s ease;
    z-index: 99;
    &.open {
        display: block;
    }
}