$navbg: '../images/navlink-bg.png';
$header-bg: '../images/header-bg.png';

$bg-1: '../images/bg-1.png';
$bg-2: '../images/bg-2.png';
$bg-3: '../images/bg-3.png';

$bg-specks1: '../images/bg-specks1.png';

$album-dots: '../images/album-dots.png';

$white-bg-btn: '../images/white-bg-btn.png';
$yellow-bg-btn: '../images/yellow-bg-btn.png';
$black-bg-btn: '../images/black-bg-btn.png';

$gg-logo: '../images/gg-logo.png';

$mouse-icon: '../images/mouse-icon.png';

$timeline-hero: '../images/timeline-hero.png';

$double-arrow: '../images/double-arrow.png';
$arrow-single-page: '../images/arrow-single-page.png';