@mixin btn {
  @include trans3;
  @content;

  &:hover {

  }
}

@mixin trans($ms) {
  -webkit-transition: all $ms ease;
  -moz-transition: all $ms ease;
  -ms-transition: all $ms ease;
  -o-transition: all $ms ease;
  transition: all $ms ease;
}
@mixin trans3 {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

@mixin fp($property, $min, $max, $start: 320, $end: 1400, $clip: true, $clipAtStart: true, $clipAtEnd: true) {
  $multiplier: ($max - $min) / ($end - $start) * 100;
  $adder: ($min * $end - $max * $start) / ($end - $start);
  $formula: calc(#{$multiplier + 0vw} + #{$adder + 0px});
  @if $clip and $clipAtStart {
    @media (max-width: #{$start + 0px}) {
      #{$property}: $min + 0px;
    }
  }
  @if $clip and $clipAtEnd {
    @media (min-width: #{$end + 0px}) {
      #{$property}: $max + 0px;
    }
  }
  #{$property}: $formula;
}

@mixin custom-btn($bgColor: 'yellow') {
  text-transform: uppercase;
  @include fp(font-size, 20, 24);
  @include fp(width, 220, 257);
  @include fp(height, 68, 95);
  color: $black;
  font-family: $font-header;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
  @if $bgColor == 'black'{
    color: $white;
  }
  &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      @if $bgColor == 'yellow'{
        background: url($yellow-bg-btn);
      } @else if $bgColor == 'white'{
        background: url($white-bg-btn);
      } @else if $bgColor == 'black'{
        background: url($black-bg-btn);
      } 
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1;
      transition: all .3s ease-in-out;
  }
  &:hover {
    opacity: 0.7;
  }
}