/*	MAIN CONTAINER 
	Set the width to whatever you want the width of your site to be. */
.container { 
	max-width: 1280px;
	margin: 0 auto; 
	padding: 0 15px;


	@media only screen and (max-width : 1440px) {
		max-width: 1280px;
	}
}

/*	SELF CLEARING FLOATS - CLEARFIX METHOD */
.container:after,
.row:after, 
.col:after, 
.clr:after, 
.group:after { 
	content: ""; 
	display: table; 
	clear: both; 
}

/* 	DEFAULT ROW STYLES 
	Set bottom padding according to preference */
.row { padding-bottom: 0; letter-spacing: -6px; } 

/* DEFAULT COLUMN STYLES */
.col { 
	display: inline-block;
	width: 100%;
	vertical-align: top;
	letter-spacing: normal;

	&.v-md {
		vertical-align: middle;
	}
}

/*	COLUMN WIDTH ON DISPLAYS +768px 
	You might need to play with media queries here to suite your design. */
@media ( min-width : 768px ) {
	.gutters .col {
		margin-left: 2%;
	}
	.no-gutters > .col,
	.gutters .col:first-child { 
		margin-left: 0; 
	}

	.repeat-list .col {
		&.span_2:nth-child(6n + 7),
		&.span_3:nth-child(4n + 5),
		&.span_4:nth-child(3n + 1),
		&.span_6:nth-child(2n + 1) {
			margin-left: 0;
		}
	}

	.span_1 { width: 8.33333333333%; }
	.span_2 { width: 16.6666666667%; }
	.span_3 { width: 25%; }
	.span_4 { width: 33.3333333333%; }
	.span_5 { width: 41.6666666667%; }
	.span_6 { width: 50%; }
	.span_7 { width: 58.3333333333%; }
	.span_8 { width: 66.6666666667%; }
	.span_9 { width: 75%; }
	.span_10 { width: 83.3333333333%; }
	.span_11 { width: 91.6666666667%; }
	.span_12 { width: 100%; }
	
	.gutters .span_1 { width: 6.5%; }
	.gutters .span_2 { width: 15.0%; }
	.gutters .span_3 { width: 23.5%; }
	.gutters .span_4 { width: 32.0%; }
	.gutters .span_5 { width: 40.5%; }
	.gutters .span_6 { width: 49.0%; }
	.gutters .span_7 { width: 57.5%; }
	.gutters .span_8 { width: 66.0%; }
	.gutters .span_9 { width: 74.5%; }
	.gutters .span_10 { width: 83.0%; }
	.gutters .span_11 { width: 91.5%; }
	.gutters .span_12 { width: 100%; }
	
	.no-gutters > .span_1 { width: 8.33333333333%; }
	.no-gutters > .span_2 { width: 16.6666666667%; }
	.no-gutters > .span_3 { width: 25%; }
	.no-gutters > .span_4 { width: 33.3333333333%; }
	.no-gutters > .span_5 { width: 41.6666666667%; }
	.no-gutters > .span_6 { width: 50%; }
	.no-gutters > .span_7 { width: 58.3333333333%; }
	.no-gutters > .span_8 { width: 66.6666666667%; }
	.no-gutters > .span_9 { width: 75%; }
	.no-gutters > .span_10 { width: 83.3333333333%; }
	.no-gutters > .span_11 { width: 91.6666666667%; }
	.no-gutters > .span_12 { width: 100%; }

	[class*="push_"],
	[class*="pull_"] {
		position: relative;
	}
	.gutters [class*="pull_"] {
		margin-left: 0;
		padding-right: 2%;
	}

	.push_1 { left: 6.5%; }
	.push_2 { left: 15.0%; }
	.push_3 { left: 23.5%; }
	.push_4 { left: 32.0%; }
	.push_5 { left: 40.5%; }
	.push_6 { left: 49.0%; }
	.push_7 { left: 57.5%; }
	.push_8 { left: 66.0%; }
	.push_9 { left: 74.5%; }
	.push_10 { left: 83.0%; }
	.push_11 { left: 91.5%; }
	
	.pull_11 { left: -6.5%; }
	.pull_10 { left: -15.0%; }
	.pull_9 { left: -23.5%; }
	.pull_8 { left: -32.0%; }
	.pull_7 { left: -40.5%; }
	.pull_6 { left: -49.0%; }
	.pull_5 { left: -57.5%; }
	.pull_4 { left: -66.0%; }
	.pull_3 { left: -74.5%; }
	.pull_2 { left: -83.0%; }
	.pull_1 { left: -91.5%; }
}

@mixin breakpoint($class) {
    @if $class == sm_down {
      @media (max-width: 600px) { @content; }
    }

    @else if $class == md_down {
      @media (max-width: 1023px) { @content; }
    }
   
    @else if $class == sm {
      @media (min-width: 601px) { @content; }
    }
   
    @else if $class == md {
      @media (min-width: 1024px) { @content; }
    }
   
    @else {
      @media (max-width: $class) { @content; }
    }
}