.page-template-template-bio {
    @include breakpoint (sm_down) {
        .main-header .header-container .l-branding .site-name {
            display: none;
        }
    }
    .l-main {
        @include fp(padding-top, 0, 30);
        @include breakpoint (sm_down) {
            padding-top: 0;
        }
    }
    section.l-banner {
        margin-top: 0;
        overflow: hidden;
        z-index: 1;
        @include breakpoint (sm_down) {
            margin-top: 20px;
        }
        .l-region--banner {
            position: relative;
            overflow: visible;
            z-index: 2;
            margin-bottom: 0;
            width: 100%;
            // max-height: calc(100vh - 40px);
            height: auto;
            .node--bio-banner {
                width: 100%;
                .l-front {
                    display: block;
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    // max-height: calc(100vh - 40px);
                    .ds-region--background {
                        img {
                            width: 100%;
                        }
                    }
                    .ds-region--foreground {
                        padding: 3.375rem;
                        text-align: center;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        .hero-contents {
                            img {

                            }
                        }
                    }
                }
            }
        }
    }
    .body-container {
        background: $bg-color;
        position: relative;
        padding: 100px 15px;
        z-index: 4;
        &.bio-main {
            &:before {
                content: '';
                background: url($bg-3);
                background-repeat: repeat-x;
                background-position: top center;
                position: absolute;
                left: 0;
                top: -165px;
                width: 100%;
                height: 100%;
                z-index: 2;
            }
            &:after {
                content: '';
                background: url($gg-logo);
                background-position: top center;
                background-repeat: no-repeat;
                position: absolute;
                background-size: auto;
                left: 0;
                top: -165px;
                width: 100%;
                height: 100%;
                z-index: 2;
                @include breakpoint (sm_down) {
                    background-size: 50%;
                    top: -35px;
                }
            }
        }
        .inner-wrapper {
            max-width: 700px;
            margin: 0 auto;
            position: relative;
            z-index: 3;
            p {
                color: $white;
                font-size: 18px;
                line-height: 1.3;
            }
        }
    }
    .bio-photos-container {
        position: relative;
        z-index: 3;
        padding: 100px 0;
        background: url($bg-specks1);
        background-position: center;
        background-size: cover;
        &:before {
            content: '';
            background: url($bg-2);
            background-repeat: repeat-x;
            background-position: top center;
            position: absolute;
            left: 0;
            top: -165px;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
        &:after {
            content: '';
            background: url($bg-3);
            background-repeat: repeat-x;
            background-position: bottom center;
            position: absolute;
            left: 0;
            bottom: -165px;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
        .photos-carousel {
            z-index: 4;
            .slick-list {
                overflow: visible;
            }
            figure {
                flex-wrap: wrap;
                display: block;
                .blocks-gallery-item__caption {
                    background: transparent;
                    padding-top: 10px;
                    max-width: 900px;
                    margin: 0 auto;
                    position: relative;
                }
            }
            .blocks-gallery-caption {
                text-align: center;
                color: $white;
                margin-top: 20px;
                a {
                    color: $white;
                    &:hover {
                        color: $color__accent;
                    }
                }
            }
        }
        .node-photos, .blocks-gallery-item {
            width: 90%;
            margin: 0 auto;
            img {
                max-width: 600px;
                margin: 0 auto;
                width: 90%;
            }
        }
    }
}