// Home
.page-template-template-home {
    .l-main {
        @include fp(padding-top, 50, 0);
    }
    section.l-banner {
        margin-top: 0;
        overflow: hidden;
        z-index: 1;
        .l-region--banner {
            position: relative;
            overflow: visible;
            z-index: 2;
            margin-bottom: 0;
            width: 100%;
            // max-height: calc(100vh - 40px);
            height: auto;
            .node--hero {
                width: 100%;
                .l-front {
                    display: block;
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    // max-height: calc(100vh - 40px);
                    .ds-region--background {
                        img {
                            width: 100%;
                        }
                    }
                    .ds-region--foreground {
                        padding: 3.375rem;
                        text-align: center;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        @include fp(padding-bottom, 0, 150);
                        .hero-contents {
                            .cta {
                                a {
                                    @include custom-btn('yellow');
                                }
                            }
                        }
                    }
                }
            }
        }
        .slick-slider > button {
            @include breakpoint (sm_down) {
                &.slick-next {
                    bottom: auto;
                    top: 50%;
                    transform: rotate(90deg);
                    right: -20px;
                }
                &.slick-prev {
                    bottom: auto;
                    top: 50%;
                    left: -20px;
                    transform: rotate(-90deg);
                }
            }
        }
    }
    .release-block {
        background: url($bg-1);
        background-size: cover;
        background-position: center top;
        @include fp(margin-top, 0, -180);
        position: relative;
        z-index: 2;
        padding: 100px 0;
        .node--release {
            padding: 50px 0;
            max-width: 1280px;
            margin: 0 auto;
            .l-article-main {
                .l-column-wrapper {
                    display: flex;
                    flex-flow: row wrap;
                    position: relative;
                    width: 100%;
                    @include breakpoint (sm_down) {
                        flex-wrap: wrap;
                        text-align: center;
                    }
                    .ds-region--column-1 {
                        width: 50%;
                        padding: 0 10px;
                        @include breakpoint (sm_down) {
                            width: 100%;
                        }
                        .field--name-field-release-cover {
                            position: relative;
                            max-width: 500px;
                            margin: 0 0 0 auto;
                            @include breakpoint (sm_down) {
                                width: 90%;
                                margin: 0 auto;
                            }
                            &:before {
                                content: '';
                                position: absolute;
                                left: -45px;
                                top: 45px;
                                width: 100%;
                                height: 100%;
                                background: url($album-dots);
                                background-size: contain;
                                background-position: center;
                                background-repeat: no-repeat;
                                z-index: -1;
                                @include breakpoint (sm_down) {
                                    left: -15px;
                                    top: 15px;
                                }
                            }
                            img {
                                width: 100%;
                            }
                        }
                    }
                    .ds-region--column-2 {
                        width: 50%;
                        display: flex;
                        align-content: center;
                        flex-flow: row wrap;
                        padding: 0 10px;
                        @include breakpoint (md) {
                            padding-left: 50px;
                        }
                        @include breakpoint (sm_down) {
                            width: 100%;
                            padding-top: 20px;
                        }
                        [class*='field'] {
                            width: 100%;
                            &.field--name-artist {
                                p {
                                    text-transform: uppercase;
                                    font-style: italic;
                                    @include fp(font-size, 20, 24);
                                    color: $white;
                                }
                            }
                            &.field--name-title {
                                h2 {
                                    text-transform: uppercase;
                                    @include fp(font-size, 36,72);
                                    margin-bottom: 15px;
                                    color: $white;
                                    line-height: 1.2;
                                }
                            }
                            &.field--name-providers {
                                a {
                                    @include custom-btn('white');
                                    @include breakpoint (sm_down) {
                                        margin: 0 auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .tour-block {
        background: $color__secondary;
        padding: 300px 0 50px;
        position: relative;
        margin-top: -145px;
        padding-bottom: 150px;
        &:before {
            content: '';
            background: url($bg-2);
            background-repeat: repeat-x;
            background-position: top center;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        &:after {
            content: '';
            background: url($bg-specks1);
            background-position: center;
            background-size: cover;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        .block__title, .block__content, .more-link {
            position: relative;
            z-index: 1;
        }
    }
    .videos-block {
        background: $bg-color;
        padding: 100px 0 0;
        position: relative;
        z-index: 1;
        &:before {
            content: '';
            background: url($bg-3);
            background-repeat: repeat-x;
            background-position: top center;
            position: absolute;
            left: 0;
            top: -150px;
            width: 100%;
            height: 100%;
        }
        .view-content {
            max-width: 100%;
            width: 100%;
            padding: 0;
        }
        .node--video {
            width: 100%;
            margin: 0 auto;
            .l-front {
                position: relative;
            }
            

            .l-front.video-playing {
                .ds-region--foreground {
                    transform: scaleX(0);
                    transform-origin: center;
                }
            }

            .ds-region--background {
                transform: translate(0,0);
                border: 1px solid transparent;
                transition: all .75s ease-in-out;
                &.video-playing {
                    .media-youtube-video {
                        transform: scaleX(1);
                        transform-origin: center;
                    }
                }
                .media-youtube-video {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    transform: scaleX(0);
                    transition: .5s ease-out transform;
                    margin-bottom: 0;
                    top: 0;
                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
                img {
                    width: 100%;
                }
            }

            .ds-region--foreground {
                transform: translate(0, 0);
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                display: block;
                z-index: 2;
                transition: .5s ease all;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                align-content: flex-end;
                padding: 5px 50px;
                transition: all .7s ease-in-out;
                flex-wrap: wrap;
                padding-bottom: 50px;
                background: rgba(0,0,0,0.5);
                @include fp(padding-bottom,10, 75);
                @include breakpoint (sm_down) {
                    padding: 20px;
                }
                .field--name-artist {
                    @include breakpoint (sm_down) {
                        text-align: center;
                        width: 100%;
                    }
                    p {
                        text-transform: uppercase;
                        font-style: italic;
                        @include fp(font-size, 20, 24);
                        color: $white;
                        margin-bottom: 10px;
                    }
                }
                .field--name-title {
                    text-align: left;
                    width: 100%;

                    h2 {
                        @include fp(font-size, 24, 72);
                        color: $white;
                        line-height: 1.2;
                        text-transform: initial;
                        text-align: left;
                        // opacity: 0;
                        transition: all 1s ease-in-out;
                        @include breakpoint (sm_down) {
                            text-align: center;
                        }
                    }
                }

                .field--name-node-link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 0;
                    margin-right: 0;
                    width: auto;
                    position: relative;
                    // opacity: 0;
                    transition: all 1s ease-in-out;
                    @include breakpoint (sm_down) {
                        width: 100%;
                    }
                    a {
                        @include custom-btn('white');
                    }
                }
                .field--name-field-youtube-id {
                    display: none;
                }
            }
        }
    }
    .news-block {
        position: relative;
        padding: 75px 0 100px;
        position: relative;
        background: url($bg-specks1);
        background-position: center;
        background-size: cover;
        &:after {
            content: '';
            background: url($bg-2);
            background-repeat: repeat-x;
            background-position: top center;
            position: absolute;
            left: 0;
            top: -150px;
            width: 100%;
            height: 100%;
        }
        &:before {
            content: '';
            background: url($bg-3);
            background-position: bottom center;
            background-repeat: repeat-x;
            background-position-y: 125%;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        .view-content {
            display: flex;
            position: relative;
            z-index: 1;
            @include breakpoint (md_down) {
                flex-wrap: wrap;
            }
            .node--news {
                width: 33.333%;
                margin: 20px 50px;
                @include breakpoint (md_down) {
                    width: 100%;
                    margin: 20px 0px;
                }
            }
        }
    }
} // home