.page-template-template-music-landing, .page-template-template-music-detail, .single-release {
    .main-header .header-container .l-navigation .header-main-nav li.music-link a {
        color: $black;
        &:before {
            opacity: 1;
        }
    }
    .mobile-menu .mobile-main-nav ul li.music-link a {
        color: $color__accent;
    }
    section.l-banner {
        padding: 25px 0 200px;
        background: url($bg-specks1);
        background-position: center;
        background-size: cover;
        .node--music-banner {
            max-width: 1280px;
            margin: 0 auto;
            .l-column-wrapper {
                display: flex;
                padding: 0 15px;
                @include breakpoint (sm_down) {
                    flex-wrap: wrap;
                }
                .ds-region--column-1 {
                    width: 55%;
                    position: relative;
                    @include breakpoint (sm_down) {
                        width: 100%;
                    }
                    .field--name-field-headline-image {
                        img {
                            width: 100%;
                        }
                    }

                }
                .ds-region--column-2 {
                    width: 45%;
                    display: flex;
                    align-content: center;
                    flex-wrap: wrap;
                    padding-left: 50px;
                    @include breakpoint (sm_down) {
                        width: 100%;
                        padding-left: 0;
                        padding-top: 25px;
                        text-align: center;
                    }
                    .field--name-title {
                        width: 100%;
                        h2 {
                            color: $white;
                            text-transform: uppercase;
                            @include fp(font-size, 30, 52);
                        }
                    }
                    .field--name-post-date {
                        width: 100%;
                        p {
                            margin: 0;
                            font-style: italic;
                            color: $white;
                        }
                    }
                    .field--name-providers {
                        width: 100%;
                        a {
                            @include custom-btn('yellow');
                            @include breakpoint (sm_down) {
                                margin: 0 auto;
                            }
                        }
                    }
                    
                }
            }
        }
    }
    .more-nodes-container {
        margin-top: -150px;
        .view-content {
            top: 0;
        }
        .node--music {
            width: 33.333%;
            margin: 20px 0px;
            padding: 0 10px;
            @include breakpoint (md_down) {
                width: 100%;
            }
            .field--name-field-headline-image {
                position: relative;
                img {
                    width: 100%;
                }
                .node-overlay {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all .3s ease-in-out;
                    opacity: 0;
                    a {
                        @include custom-btn('yellow');
                    }
                }
            }
            .videos-footer {
                padding-top: 10px;
                .field--name-title {
                    h2 {
                        color: $white;
                        text-transform: uppercase;
                        @include fp(font-size, 20, 24);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                }
                .field--name-post-date {
                    p {
                        margin: 0;
                        color: $white;
                        @include fp(font-size, 12, 14);
                        font-style: italic;
                    }
                }
                .field--name-body {
                    p {
                        color: $white;
                        @include fp(font-size, 14, 16);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                }
            }
            &:hover {
                .field--name-field-headline-image {
                    .node-overlay {
                        opacity: 1;
                    }
                }
            }
        }
    }
}