.page-template-template-news-landing {
    section.l-banner {
        padding: 25px 0 200px;
        background: url($bg-specks1);
        background-position: center;
        background-size: cover;
        .node--news-banner {
            max-width: 1280px;
            margin: 0 auto;
            .l-column-wrapper {
                display: flex;
                padding: 0 15px;
                @include breakpoint (sm_down) {
                    flex-wrap: wrap;
                }
                .ds-region--column-1 {
                    width: 55%;

                    @include breakpoint (sm_down) {
                        width: 100%;
                    }
                    .news-image {
                        img {
                            width: 100%;
                        }
                    }
                }
                .ds-region--column-2 {
                    width: 45%;
                    display: flex;
                    align-content: center;
                    flex-wrap: wrap;
                    padding-left: 50px;
                    @include breakpoint (sm_down) {
                        width: 100%;
                        padding-left: 0;
                        padding-top: 25px;
                    }
                    .news-category {
                        background: $color__accent;
                        padding: 8px 15px;
                        border-radius: 50px;
                        margin-bottom: 25px;
                        p {
                            color: $black;
                            text-transform: uppercase;
                            margin: 0;
                            font-size: 14px;
                            font-family: $font-header;
                            line-height: 1;
                            padding-top: 2px;
                        }
                    }
                    .field--name-title {
                        width: 100%;
                        h2 {
                            color: $white;
                            text-transform: uppercase;
                            @include fp(font-size, 30, 52);
                        }
                    }
                    .field--name-body {
                        height: 60px;
                        overflow: hidden;
                        margin-bottom: 20px;
                        p {
                            color: $white;
                            @include fp(font-size, 14, 16);
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            margin: 0;
                        }
                    }
                    .block-container {
                        display: flex;
                        align-items: center;
                        .news-author-image {
                            width: 42px;
                            height: 42px;
                            img {
                                width: 100%;
                                border-radius: 50%;
                            }
                        }
                        .block-wrapper {
                            margin-left: 10px;
                            .field--name-author, .field--name-post-date  {
                                p {
                                    margin: 0;
                                    color: $white;
                                    @include fp(font-size, 12, 14);
                                    font-style: italic;
                                    text-transform: capitalize;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.node--news {
    width: 33.333%;
    margin: 20px 0px;
    padding: 0 10px;
    @include breakpoint (md_down) {
        width: 100%;
    }
    .news-image {
        position: relative;
        margin-bottom: 10px;
        img {
            width: 100%;
        }
        .news-category {
            position: absolute;
            left: 10px;
            top: 10px;
            background: $color__accent;
            padding: 8px 15px;
            border-radius: 50px;
            p {
                color: $black;
                text-transform: uppercase;
                margin: 0;
                font-size: 14px;
                font-family: $font-header;
                line-height: 1;
                padding-top: 2px;
            }
        }
        .node-overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(0,0,0, 0.75);
            transition: all .3s ease-in-out;
            opacity: 0;
            a {
                @include custom-btn('yellow');
            }
        }
    }
    .news-footer {
        .field--name-title {
            h2 {
                color: $white;
                text-transform: uppercase;
                @include fp(font-size, 20, 24);
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
        .field--name-body {
            height: 60px;
            overflow: hidden;
            margin-bottom: 20px;
            p {
                color: $white;
                @include fp(font-size, 14, 16);
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                margin: 0;
            }
        }
        .field--name-author, .field--name-post-date {
            p {
                color: $white;
                @include fp(font-size, 12, 14);
                font-style: italic;
                margin: 0;
                text-transform: capitalize;
            }
        }
    }
    &:hover {
        .news-image {
            .node-overlay {
                opacity: 1;
            }
        }
    }
}

.page-template-template-news-detail, .single-post {
    .main-header .header-container .l-navigation .header-main-nav li.news-link a {
        color: $black;
        &:before {
            opacity: 1;
        }
    }
    .mobile-menu .mobile-main-nav ul li.news-link a {
        color: $color__accent;
    }
    .news-detail-container {
        max-width: 900px;
        margin: 0 auto;
        padding: 10px 15px;
        .news-image {
            img {
                width: 100%;
            }
        }
        .news-category {
            background: $color__accent;
            padding: 8px 15px;
            border-radius: 50px;
            margin-bottom: 25px;
            margin-top: 20px;
            width: max-content;
            p {
                color: $black;
                text-transform: uppercase;
                margin: 0;
                font-size: 14px;
                font-family: $font-header;
                line-height: 1;
                padding-top: 2px;
            }
        }
        .field--name-title {
            h2 {
                color: $white;
                text-transform: uppercase;
                @include fp(font-size, 24, 38);
            }
        }
        .block-container {
            display: flex;
            align-items: center;
            .news-author-image {
                width: 42px;
                height: 42px;
                img {
                    width: 100%;
                    border-radius: 50%;
                }
            }
            .block-wrapper {
                margin-left: 10px;
                .field--name-author, .field--name-post-date  {
                    p {
                        margin: 0;
                        color: $white;
                        @include fp(font-size, 12, 14);
                        font-style: italic;
                        text-transform: capitalize;
                    }
                }
            }
        }
        .field--name-body {
            margin: 50px 0;
            p {
                color: $white;
                @include fp(font-size, 16, 18);
            }
        }
    }
}