.page-id-16 {
    background: $bg-color;
    .entry-header {
        display: none;
    }
    .l-main {
        padding-top: 0;
    }
    .timeline-hero {
        width: 100%;
        background: url($timeline-hero);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        @include fp(height, 500, 950);
        &:before {
            content: '';
            background: url($bg-3);
            background-repeat: repeat-x;
            background-position: bottom center;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }
    .cool-timeline {
        margin-top: -300px;
        margin-bottom: 100px;
        z-index: 2;
        position: relative;
        &:before {
            transform: translateX(-50%);
            margin-left: 0 !important;
        }
        &:after {
            content: '';
            position: absolute;
            top: -100px;
            left: 50%;
            transform: translateX(-50%);
            background: url($mouse-icon);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 40px;
            height: 68px;
            @include breakpoint (860px) {
                left: 20px;
            }
        }
        &.white-timeline .timeline-year {
            display: none;
        }
        &.white-timeline .timeline-post.odd .timeline-meta .meta-details, &.white-timeline .timeline-post.even .timeline-meta .meta-details {
            color: $color__accent !important;
            @include breakpoint (860px) {
                margin-bottom: 15px !important;
            }
        }
        .timeline-post {
            @include breakpoint (860px) {
                padding-right: 20px !important;
            }
            .icon-dot-full {
                background: $color__accent !important;
            }
            .timeline-content {
                border-radius: 0 !important;
                .content-title {
                    h2, a {
                        font-family: $font-header !important;
                    }
                }
            }
            .icon-dot-full {
                background: $color__accent !important;
                height: 22px !important;
                width: 22px !important;
                border-radius: 0 !important;
                transform: rotate(45deg) !important;
                margin-top: 20px !important;
                margin-left: -11px !important;
                border-radius: 0 !important;
                @media (max-width: 860px) {
                    height: 18px !important;
                    width: 18px !important;
                    margin-top: 26px !important;
                    margin-left: 7px !important;
                }
            }
            &.even {
                .timeline-content {
                    border-left: 5px solid $color__accent;
                    .content-title {
                        &:before {
                            border-right-color: $color__accent !important;
                            left: -30px !important;
                            @media (min-width: 860px) {
                            }
                        }
                    }
                }
            }
            &.odd {
                .timeline-content {
                    border-right: 5px solid $color__accent;
                    @media (max-width: 860px) {
                        border-right: none;
                        border-left: 5px solid $color__accent;
                    }
                    .content-title {
                        &:before {
                            right: -30px !important;
                            @media (min-width: 860px) {
                                border-left-color: $color__accent !important;
                            }
                            @media (max-width: 860px) {
                                border-right-color: $color__accent !important;
                                left: -30px !important;
                                right: auto !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-nav-widgets-wrapper, .post-meta-edit-link-wrapper {
        display: none;
    }
}


.single-cool_timeline {
    .main-header .header-container .l-navigation .header-main-nav li.timeline-link a {
        color: $black;
        &:before {
            opacity: 1;
        }
    }
    .mobile-menu .mobile-main-nav ul li.timeline-link a {
        color: $color__accent;
    }
    #site-content {
        max-width: 900px;
        margin: 0 auto;
        padding: 10px 15px;
    } 
    .news-image {
        margin: 0 auto 35px;
        max-width: 500px;
        img {
            width: 100%;
        }
    }
    .news-category {
        display: none;
    }
    .field--name-title {
        h2 {
            color: $white;
            text-transform: uppercase;
            @include fp(font-size, 24, 38);
        }
    }
    .block-container {
        display: flex;
        align-items: center;
        .news-author-image {
            width: 42px;
            height: 42px;
            img {
                width: 100%;
                border-radius: 50%;
            }
        }
        .block-wrapper {
            margin-left: 10px;
            .field--name-author, .field--name-post-date  {
                p {
                    margin: 0;
                    color: $white;
                    @include fp(font-size, 12, 14);
                    font-style: italic;
                    text-transform: capitalize;
                }
            }
        }
    }
    .field--name-body {
        margin: 50px 0;
        p {
            color: $white;
            @include fp(font-size, 16, 18);
        }
    }
}