.page-template-template-tour {
    .view-content {
        padding-bottom: 100px;;
    }

}


.node--event {
    border-bottom: 1px solid $black;
    padding: 15px 0;
    .event-container {
        display: flex;
        @include breakpoint (sm_down) {
            flex-wrap: wrap;
            justify-content: center;
        }
        .left {
            width: 158px;
            @include breakpoint (sm_down) {
                flex-wrap: wrap;
                width: 100%;
            }
            .tour-date {
                text-align: center;
                span {
                    display: block;
                    font-style: italic;
                    @include fp(font-size, 22,24);
                    text-transform: uppercase;
                    color: $white;
                    margin-bottom: 5px;
                    &.year {
                        letter-spacing: 0.4em;
                    }
                }
                h2 {
                    display: flex;
                    margin-bottom: 0;
                    justify-content: center;
                    text-transform: uppercase;
                    span {
                        @include fp(font-size, 34,42);
                        color: $color__accent;
                        font-style: normal;
                        margin: 0 3px;
                    }
                }
            }
        }
        .middle {
            width: calc(100% - 415px);
            @include breakpoint (sm_down) {
                width: 100%;
                margin: 10px 0;
            }
            .tour-info {
                display: flex;
                height: 100%;
                padding: 25px 10px;
                align-items: flex-start;
                @include breakpoint (sm_down) {
                    flex-wrap: wrap;
                    padding: 5px 10px;
                }
                .tour-name, .tour-location {
                    padding: 0 45px;
                    width: 50%;
                    @include breakpoint (sm_down) {
                        width: 100%;
                        text-align: center;
                        padding: 0 5px;
                        margin: 5px 0px;
                    }
                    color: $white;
                    @include fp(font-size, 22,24);
                    text-transform: uppercase;
                    color: $white;
                    font-family: $font-header;
                    line-height: 1.2;
                }
            }
        }
        .right {
            @include breakpoint (sm_down) {
                width: 100%;
            }
            .tour-tickets {
                a {
                    @include custom-btn('white');
                    @include breakpoint (sm_down) {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}