.page-template-template-videos-landing, .single-video {
    .main-header .header-container .l-navigation .header-main-nav li.videos-link a {
        color: $black;
        &:before {
            opacity: 1;
        }
    }
    .mobile-menu .mobile-main-nav ul li.videos-link a {
        color: $color__accent;
    }
    section.l-banner {
        padding: 25px 0 200px;
        background: url($bg-specks1);
        background-position: center;
        background-size: cover;
        .node--video-banner {
            max-width: 1280px;
            margin: 0 auto;
            .l-column-wrapper {
                display: flex;
                padding: 0 15px;
                @include breakpoint (sm_down) {
                    flex-wrap: wrap;
                }
                .ds-region--column-1 {
                    width: 70%;
                    position: relative;
                    @include breakpoint (sm_down) {
                        width: 100%;
                    }
                    &.video-playing {
                        .media-youtube-video {
                            transform: scaleX(1);
                            transform-origin: center;
                        }
                        .video-foreground {
                            transform: scaleX(0);
                        }
                    }
                    .media-youtube-video {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        transform: scaleX(0);
                        transition: .5s ease-out transform;
                        margin-bottom: 0;
                        top: 0;
                        iframe {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .field--name-field-headline-image {
                        img {
                            width: 100%;
                        }
                    }
                    .video-foreground {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        background: rgba(0,0,0,0.5);
                        .field--name-node-link {
                            @include custom-btn('white');
                        }
                        .field--name-field-youtube-id {
                            display: none;
                        }
                    }
                }
                .ds-region--column-2 {
                    width: 30%;
                    display: flex;
                    align-content: center;
                    flex-wrap: wrap;
                    padding-left: 50px;
                    @include breakpoint (sm_down) {
                        width: 100%;
                        padding-left: 0;
                        padding-top: 25px;
                        text-align: center;
                    }
                    .field--name-title {
                        width: 100%;
                        h2 {
                            color: $white;
                            text-transform: uppercase;
                            @include fp(font-size, 30, 52);
                        }
                    }
                    .field--name-post-date {
                        width: 100%;
                        p {
                            margin: 0;
                            font-style: italic;
                            color: $white;
                        }
                    }
                    .field--name-body {
                        width: 100%;
                        p {
                            color: $white;
                            @include fp(font-size, 14, 16);
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                        }
                    }
                    
                }
            }
        }
    }
    .more-nodes-container {
        .node--videos {
            width: 33.333%;
            margin: 20px 0px;
            padding: 0 10px;
            @include breakpoint (md_down) {
                width: 100%;
            }
            .field--name-field-headline-image {
                position: relative;
                img {
                    width: 100%;
                }
                .node-overlay {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all .3s ease-in-out;
                    opacity: 0;
                    a {
                        @include custom-btn('yellow');
                    }
                }
            }
            .videos-footer {
                padding-top: 10px;
                .field--name-title {
                    width: 100%;
                    h2 {
                        color: $white;
                        text-transform: uppercase;
                        @include fp(font-size, 20, 24);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                }
                .field--name-post-date {
                    width: 100%;
                    p {
                        margin: 0;
                        color: $white;
                        @include fp(font-size, 12, 14);
                        font-style: italic;
                    }
                }
                .field--name-body {
                    width: 100%;
                    p {
                        color: $white;
                        @include fp(font-size, 14, 16);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                }
            }
            &:hover {
                .field--name-field-headline-image {
                    .node-overlay {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.page-id-40 {
    .entry-title {
        display: none;
    }
    .tubepress-pagination:nth-child(1) {
        display: none;
    }
    .tubepress-normal-player {
        display: flex;
        flex-wrap: wrap;
        max-width: 1280px;
        margin: 0 auto;
        .tubepress-big-title {
            order: 2;
            color: $white;
            text-transform: uppercase;
            @include fp(font-size, 30, 52);
            margin-top: 20px;
        }
    }
    .tubepress-thumbs {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        padding-top: 50px;
        .tubepress-thumb {
            margin: 10px 5px;
            position: relative;
            width: 32.33333% !important;
            @include breakpoint (md_down) {
                width: 100% !important;
            }
            .tubepress-thumbnail-image {
                width: 100%;
            }
            &:hover {
                .tubepress-meta-group {
                    opacity: 1;
                }
            }
        }
        .tubepress-meta-group {
            width: 100% !important;
            height: 100%;
            padding: 0 20px;
            background: rgba(0,0,0,0.58);
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            opacity: 0;
            transition: all 300ms ease;
            .tubepress-meta-duration, .tubepress-meta-viewCount {
                display: none;
            }
            .tubepress-meta-title, .tubepress-meta-title a {
                color: $white;
                text-transform: uppercase;
                @include fp(font-size, 20, 24);
                text-align: center;
                margin: 0 !important;
                .tubepress-cursor-pointer {
                    &:after {
                        content: 'Watch';
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 auto;
                        text-transform: uppercase;
                        @include fp(font-size, 20, 24);
                        @include fp(width, 220, 257);
                        @include fp(height, 68, 95);
                        color: $black;
                        font-family: $font-header;
                        position: relative;
                        transition: all .3s ease-in-out;
        
                        background: url($yellow-bg-btn);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        z-index: -1;
                        transition: all .3s ease-in-out;
                    }
                    &:hover {
                        &:after {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
    .footer-nav-widgets-wrapper, .post-edit {
        display: none;
    }
}